@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
/* Page Background Gradient */
  background: linear-gradient(to bottom, 
    #303030 0%,
    #252525 25%,
    #1a1a1a 50%,
    #121212 75%,
    #0a0a0a 100%
  );
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
}

/* Set Poppins as default font for all elements */
* {
  font-family: 'Poppins', sans-serif;
}

@font-face {
  font-family: 'Gilroy-Regular';
  src: url('/fonts/Gilroy-Regular.woff2') format('woff2'),
       url('/fonts/Gilroy-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

